[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest = "*"
assertpy = "*"
lxml = "*"
jsonpath-ng = "*"
cerberus = "*"
reportportal-client = "*"
pytest-reportportal = "*"
pytest-xdist = {extras = ["psutil"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
